html {
  font-size: 100%; }

body {
  background-color: #ebf2ef; }

#header {
  height: 500px;
  width: 100%;
  background: url("assets/img/background.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed; }
  #header h1 {
    text-align: center;
    padding-top: 220px;
    font-size: 3.25rem; }
    #header h1 span {
      font-size: 4rem;
      color: #ffbe32; }

#content {
  position: relative;
  padding: 10px 20px 20px 20px;
  width: 950px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 30px;
  background: url("assets/img/arrow-mustard.png") no-repeat;
  background-size: 40px 80px;
  background-position: 85% 45px;
  background-color: #fff;
  border-radius: 30px; }
  #content .subjects-menu {
    margin: 40px 0px 0px 90px !important;
    width: 85% !important;
    height: 100px;
    overflow: hidden;
    transition: 1s; }
    #content .subjects-menu .mint-button-secondary {
      margin: 2px;
      width: 175px;
      line-height: 1rem; }
  #content h1 {
    width: 95%;
    margin: auto;
    font-size: 2.4rem !important;
    text-align: center;
    padding: 20px 0 10px 0;
    color: #ffbe32 !important; }
  #content .mint-logo {
    position: absolute;
    left: 385px;
    top: -245px; }
  #content div ul {
    padding: 0 100px;
    font-size: 1.1rem; }
    #content div ul a {
      width: 100%;
      color: black;
      transition: 0.25s; }
    #content div ul a:hover {
      color: #ffbe32;
      transition: 0.25s; }
    #content div ul li {
      margin: 8px;
      list-style-image: url("assets/img/bullet-mustard.gif");
      cursor: pointer;
      cursor: hand;
      transition: 0.5s; }
    #content div ul .js-li--blue {
      color: #ffbe32 !important; }
    #content div ul li:hover {
      color: #ffbe32;
      transition: 0.5s; }
    #content div ul h3 {
      padding-bottom: 10px;
      padding-top: 10px; }
    #content div ul .json-answer--hidden {
      display: none; }
    #content div ul .json-answer--wrapper {
      padding: 20px;
      padding-top: 5px;
      margin-top: 10px;
      margin-bottom: 30px;
      border: solid 2px #e1e3e5;
      border-radius: 25px; }
      #content div ul .json-answer--wrapper h3 {
        font-size: 1rem;
        color: #ffbe32; }
      #content div ul .json-answer--wrapper .json-answer {
        position: relative;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        /* fallback */
        max-height: 150px;
        /* fallback */
        -webkit-line-clamp: 7;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      #content div ul .json-answer--wrapper .json-answer:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, white); }

li:nth-child(n + 16) {
  display: none; }

li:nth-child(n + 3) div {
  display: block; }

.no-data {
  width: 500px;
  margin: auto; }
  .no-data h3 {
    font-size: 1.4rem !important;
    text-align: center;
    padding: 20px; }
  .no-data #no-data-btn {
    width: 195px;
    margin: auto; }

.mint-button-primary {
  margin: auto; }

.mint-search {
  margin-left: 160px !important;
  margin-top: 0px;
  width: 600px !important; }

.mint-input--transparent-border:focus {
  border-color: #ffbe32 !important; }

#footer {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #ebf2ef; }
  #footer .fb-share-button {
    position: absolute;
    left: 75%;
    top: 0px; }
  #footer .twitter-share-btn {
    position: absolute;
    left: 63%;
    top: 4px; }
  #footer p {
    position: absolute;
    bottom: 15px;
    left: 17vw;
    text-align: center;
    color: #383838; }

@media screen and (max-width: 600px) {
  #header {
    background-attachment: initial; }
    #header h1 {
      line-height: 2.2rem !important; }
  #content {
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 5px 30px 5px;
    background-image: none;
    border-radius: 0; }
    #content div ul {
      padding: 0 15px; }
    #content .mint-logo {
      top: -330px;
      left: 50%;
      margin-left: -67px; }
  .no-data {
    width: 100%; }
  #footer {
    height: 80px; }
    #footer .fb-share-button {
      top: 10px;
      left: 50%; }
    #footer .twitter-share-btn {
      top: 14px;
      left: 24.5%; }
    #footer p {
      left: 50%;
      margin-left: -95.5px; } }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s; }

.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.5s; }
