html {
	font-size: 100%;
}
body {
	background-color: #ebf2ef;
}

#header {
	height: 500px;
	width: 100%;
	background: url("assets/img/background.jpg") no-repeat;
	background-size: auto 100%;
    background-position: center top;
    background-attachment: fixed;
	h1 {
		text-align: center;
		padding-top: 220px;
		font-size: 3.25rem;
		span {
			font-size: 4rem;
			color: #ffbe32;
		}
	}
}
#content {
	position:relative;
	padding: 10px 20px 20px 20px;
	width: 950px;
	margin: auto;
	margin-top: -100px;
	margin-bottom: 30px;
	background: url('assets/img/arrow-mustard.png') no-repeat;
	background-size: 40px 80px;
	background-position: 85% 45px;
	background-color: #fff;
	border-radius: 30px;
	.subjects-menu {
		margin: 40px 0px 0px 90px !important;
		width: 85% !important;
		height: 100px;
		overflow: hidden;
		transition: 1s;
		.mint-button-secondary {
			margin: 2px;
			width: 175px;
			line-height: 1rem;
		}
	}
	h1 {
		width: 95%;
		margin: auto;
		font-size: 2.4rem !important;
		text-align: center;
		padding: 20px 0 10px 0;
		color: #ffbe32 !important;
	}
	.mint-logo {
		position: absolute;
		left: 385px;
		top: -245px;
	}
	div {
		ul {
			padding: 0 100px;
			font-size: 1.1rem;
			a {
				width: 100%;
				color: black;
				transition: 0.25s;
			}
			a:hover {
				color: #ffbe32;
				transition: 0.25s;
			}
			li {
				margin: 8px;
				list-style-image: url('assets/img/bullet-mustard.gif');
				cursor: pointer;
				cursor: hand;
				transition: 0.5s;
			}
			.js-li--blue {
				color: #ffbe32 !important;
			}
			li:hover {
				color: #ffbe32;
				transition: 0.5s;
			}
			h3 {
				padding-bottom: 10px;
				padding-top: 10px;
			}

			.json-answer--hidden {
				display: none;
			}
			.json-answer--wrapper {
				padding: 20px;
				padding-top: 5px;
				margin-top: 10px;
				margin-bottom: 30px;
				border: solid 2px #e1e3e5;
				border-radius: 25px;
				h3 {
					font-size: 1rem;
					color: #ffbe32;
				}
				.json-answer {
					position: relative;
					font-size: 1rem;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					line-height: 20px;     /* fallback */
					max-height: 150px;      /* fallback */
					-webkit-line-clamp: 7; /* number of lines to show */
					-webkit-box-orient: vertical;
				}
				.json-answer:before {
  				content:'';
  				width:100%;
  				height:100%;
  				position:absolute;
  				background:linear-gradient(rgba(255, 255, 255, 0) 0%, white);
				}
			}
		}
	}
}
li:nth-child(n + 16) {
	display: none;
}
li:nth-child(n + 3) {
	div {
		display: block;
	}
}
.no-data {
	width: 500px;
	margin: auto;
	h3 {
		font-size: 1.4rem !important;
		text-align: center;
		padding: 20px;
	}
	#no-data-btn {
		width: 195px;
		margin: auto;
	}
}
.mint-button-primary {
	margin: auto;
}
.mint-search {
	margin-left: 160px !important;
	margin-top: 0px;
	width: 600px !important;
}
.mint-input--transparent-border:focus {
	border-color: #ffbe32 !important;
}
#footer {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #ebf2ef;
	.fb-share-button {
		position: absolute;
		left: 75%;
		top: 0px;
	}
	.twitter-share-btn {
		position: absolute;
		left: 63%;
		top: 4px;
	}
	p {
		position: absolute;
		bottom: 15px;
		left: 17vw;
		text-align: center;
		color: #383838;
	}
}

// Functional styles
.hidden {
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.visible {
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

// Partials import
@import "rwd"; 
